@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Underdog&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    background-color: #FFF9F0;
}

/* Website Links except the nav */
a:link {
    color: #B497BD ;
}
a:visited {
    color: #B497BD ; 
}
a:hover {
    color: rgb(255, 255, 255);
}
a:active {
    color: black;
}

header {
    text-align: center;
}

/* Navigation */
nav {
    background-color: #AEEAFD;
    border-top: 3px solid #FFB6B9;
    border-bottom: 3px solid #FFB6B9;
    padding: 5px;
}

nav ul {
    list-style-type: none;
    text-align: center;
    margin: 8px 0;
    padding: 0;
}

nav li {
    display: inline;
    padding: 5px;
}

nav a {
    text-decoration: none;
}

nav a:link {
    color: white;
}

nav a:visited {
    color: white;
}

nav a:hover {
    color: #B497BD;
    text-decoration: none;
}

nav a:active {
    color: grey;
}

header h1 {
    font-family: 'PT Serif', serif;
    font-size: 4em;
    color: #333333;
}

main {
    max-width: 1000px;
    margin: 20px auto;
    padding: 10px;
}

.home-hero{
    background-image: url('images/header.jpg');
    height: 475px;
    background-size: cover;
    background-position: center;
    color: #042837;
    padding: 10px 10px 10px 30px;
}

.home-hero h2{
    font-family: 'PT Serif', serif;
    font-size: 2em;
    color: #333333e8;
}

.home-hero h3{
    font-family: 'PT Serif', serif;
    font-size: 1.5em;
    color: #333333b0;
}

.col-sm-4 blockquote {
    color: #333333;
    font-size: 1.5em;
    font-family: 'PT Serif', serif;
    background-origin: #eeeeee;
    border-left: 5px solid #ffb6b9b9;
    padding: 10px;
}

.col-sm-12 blockquote {
    font-size: 1em;
    background-origin: #eeeeee;
    border-left: 10px solid #aeebfd91;
    padding: 30px;
}

.col-sm-3  {
    font-size: 0.9em;
    background-origin: #000000;
    padding: 8px;
}

.fa{
    font-size: 4em;
    padding: 5px;
    color: #FFB6B9;
}

nav .fa {
    font-size: 1.2em;
    padding: 5px;
    color: #FFB6B9;
}

nav .fa:hover {
    color: #B497BD;
}

.container blockquote {
    color: #333333;
    font-size: 1.5em;
    padding: 5px;
}

/* Footer */
footer {
    border-top: 3px solid #FFB6B9;
    background-color: #AEEAFD;
    text-align: center;
}

footer a:link {
    text-decoration: none;
}

/* CSS without a media query—applies to all sizes unless overridden */
h1 {
    font-size: 4em;
    font-family: "PT Serif", serif;
    font-size: bold;
}

img {
    display: block;
    margin: 0 auto;
}

/* CSS Adjustments for Tablets */
@media only screen and (max-width: 1024px) {
    h1 {
        font-size: 2em;
    }
}

/* CSS Adjustments for Smartphones */
@media only screen and (max-width: 768px) {
    h1 {
        font-size: 1.5em;
    }
}
